<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style.css"> 
    <link rel="icon" href="/img/weather.png">
    <!-- ./ 하드드라이버  경로 / 절대경로 -->

    


    <title>Document</title>
    
    </head>
<body>

    <div class="main-content">
    {{>header}}

       <h1>{{name}}</h1> 

       <p id="message-1">{{title}}</p>

       <div>
           <form>
               <input placeholder="location">
               <button>submit</button>
           </form>
           <p id="message-2"></p>
       </div>

       </div>

       


       {{>footer}}
</body>




   <script src="/js/app.js"></script>
    </html>

    {{!-- nodemon src/app.js -e js,hbs
    
    해당 extension 변화 캐치함 --}}